:root {
    --nihr-blue: 25, 62, 114, 1; /* Define an RGB variable */
    --nihr-red: #ea5d4e;
}

html * {
    font-family: "Lato", sans-serif !important;
}

.govuk-heading-l {
    color: rgba(var(--nihr-blue)) !important;
    font-weight: normal !important;
}

.govuk-heading-m {
    color: rgba(var(--nihr-blue)) !important;
    font-weight: 700 !important;
}

body {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 0;
}