@inject IConfiguration Config
@using Nihr.Hub.Web.Helpers
@model CookiesPreferencesViewModel

@{
    ViewData["Title"] = "Cookies Preferences";
    var showConfirmation = TempData["ShowSuccessConfirmation"] as bool?;
    var consentCookie = Context.Request.Cookies["CookieConsent"];
    var analyticsConsent = consentCookie == "true";
}

@Html.GovUkBreadcrumbs(
    [
        new BreadcrumbItem { Text = "Home", Url = Url.Action("Index", "Home")! },
        new BreadcrumbItem { Text = "Cookies", Url = Url.Action("Index", "Cookies")! }
    ]
)
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-full">
        @if (showConfirmation == true)
        {
            <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
                 aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Success
                    </h2>
                </div>

                <div class="govuk-notification-banner__content">
                    <p class="govuk-body">Your cookie settings were saved. You can change them at any time.</p>
                </div>
            </div>
        }
        <h1 class="govuk-heading-l">Cookies</h1>
        <p class="govuk-body">
            Cookies are small files saved on your device that store data about how you use this service. You can read
            our <a class="govuk-link" asp-action="Policy">cookies policy here</a>.
        </p>

        <h2 class="govuk-heading-m">Essential cookies</h2>
        <p class="govuk-body">
            We use essential cookies to make this service work. These cookies are always on.
        </p>

        <h2 class="govuk-heading-m">Analytics cookies</h2>
        <p class="govuk-body">
            With your permission, we use Google Analytics to collect information about how you use the service so we can
            better understand what content our visitors find useful and what content needs to be improved. By allowing
            cookies onto your device you are helping us continually improve the NIHR websites for everyone.
        </p>

        <h2 class="govuk-heading-l">Change your cookie settings</h2>
        <form asp-action="Index" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        Do you want to accept analytics cookies?
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="cookies-analytics" name="CookieConsentGranted"
                                   type="radio" value="true" @(Model.CookieConsentGranted == "true" ? "checked" : "")>
                            <label class="govuk-label govuk-radios__label" for="cookies-analytics">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="cookies-analytics-2" name="CookieConsentGranted"
                                   type="radio" value="false" @(Model.CookieConsentGranted == "false" ? "checked" : "")>
                            <label class="govuk-label govuk-radios__label" for="cookies-analytics-2">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Save cookie settings
            </button>
        </form>
    </div>
</div>

@if (!analyticsConsent)
{
    @section Scripts
    {
        <script type="text/javascript">

            document.cookie.split(';').forEach(function (cookie) {
                const name = cookie.split('=')[0].trim();
                if (name.startsWith('_ga')) {
                    document.cookie = name + '=; path=/; domain=' + location.hostname + '; Max-Age=0';
                    document.cookie = name + '=; path=/; domain=.' + location.hostname + '; Max-Age=0';
                    document.cookie = name + '=; path=/; Max-Age=0'; // fallback
                }
            });
        </script>
    }
}