@model UserModel

@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity is { IsAuthenticated: true })
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">Welcome to the NIHR Hub, <b>@Model.GivenName</b>.</h1>
        </div>
    </div>
}