@model UserModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>NIHR Hub</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/govuk/govuk-frontend.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/NIHR.Hub.Web.styles.css" asp-append-version="true"/>
</head>
<body>
<script>
    document.body.className += 'js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
</script>
<a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>
<header class="govuk-width-container govuk-!-padding-top-3 govuk-!-padding-bottom-3">
    <div class="govuk-header__logo">
        <img src="images/nihr-logo.png" alt="NIHR Logo"/>
    </div>
    <div class="authentication-controls">
        @if (User.Identity is { IsAuthenticated: true })
        {
            <span class="govuk-!-margin-right-3">Signed in as <b>@Model.FullName</b></span>
            <a class="govuk-link govuk-!-margin-right-2" href="https://myaccount.google.com">My Account</a>
            <a href="/sign-out" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0"
               data-module="govuk-button">
                Sign Out
            </a>
        }
        else
        {
            <a href="/sign-in" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Sign In
            </a>
        }
    </div>
</header>
<div class="govuk-width-container">
    <main id="main-content" class="govuk-main-wrapper">
        @RenderBody()
    </main>
</div>
<footer class="govuk-footer">
    <div class="govuk-width-container">
        <div class="govuk-footer__meta">
            <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                <h2 class="govuk-visually-hidden">Support links</h2>
                <ul class="govuk-footer__inline-list">
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" href="https://www.nihr.ac.uk/about-us/who-we-are">
                            About Us
                        </a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" href="https://www.nihr.ac.uk/contact-us">
                            Contact Us
                        </a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link"
                           href="https://docs.google.com/document/d/1rhWwSkt7DtdNAL8Jz4eNciP5S-F-fxsLST45fwBK-Gs/edit?hgd=1&tab=t.0#heading=h.vx1227">
                            Terms &amp; Acceptable Use
                        </a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link"
                           href="https://sites.google.com/nihr.ac.uk/nihr-hub-accessibility/">
                            Accessibility
                        </a>
                    </li>
                </ul>
            </div>
            <div class="govuk-footer__meta-item">
                <a
                    class="govuk-footer__link funded-by-dhsc-logo govuk-!-padding-top-0"
                    href="https://www.gov.uk/government/organisations/department-of-health-and-social-care">
                    <img alt="Funded by DHSC logo" src="images/funded-by-dhsc-white.png"/>
                </a>
            </div>
        </div>
    </div>
</footer>

<script type="module">
    import { initAll } from '/lib/govuk/govuk-frontend.min.js'
    initAll()
</script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>